.field label {
display:inline-block;
min-width:100px;
vertical-align:top
}

div.actions,div.actions div.field {
text-align:center;
width:600px
}

div.actions {
margin-top:30px
}

form select,form input,form textarea {
width:441px
}

div.actions input#save {
font:18pt sans-serif bold;
height:32px;
margin:0 auto;
width:135px
}

a[href^="/videos"] {
display:none
}

span.error {
color:red;
font-weight:700;
margin-left:8px
}