.field label {
	min-width: 100px;
	display: inline-block;
	vertical-align: top
}

div.actions,
div.actions div.field {
	width: 600px;
	text-align:center
}

div.actions {
	margin-top: 30px;
}

form select,
form input,
form textarea {
	width: 441px
}

div.actions input#save {
	margin: 0 auto;
	width: 135px;
	height: 32px;
	font: 18pt sans-serif bold
}

a[href^="/videos"] {
	display:none
}

span.error {
	color: red;
	margin-left: 8px;
	font-weight: 700
}