<div class="sectionheader"><%= title %></div>
<ul>
	<% Video.by_type(type).reverse.each do |f| %>
	<li>
		<span><%= f.title.gsub("&#150;", "-") %></span> 
		<%= f.description.gsub("&#150;", "-") %>
	</li>
	<% end %>
</ul>