<div class="videodetails">
	<div id="title" class="mdlTitle">title</div>
	<div id="description" class="mdlDesc">details</div>
	<table>
		<tr>
			<td id="vidout" style="vertical-align: top; text-align: justify; width: 560px; height: 315px;padding-right: 10px;">
				<iframe id="vid" width="560" height="315" src="vidlink?modestbranding=1&title=&autohide=1&showinfo=0&hd=1" frameborder="0"></iframe>
			</td>
			<td id="synopsis" class="descCell">synopsis</td>
		</tr>
	</table>
</div>