<div class="about">
    <div class="about_text">
        <%= I18n.t "about.story" %> 
        <%= I18n.t "about.story_bottom" %>
    </div>
    <img class="face_img" src="<%= asset_path 'face.jpg' %>" />
    <div class="contact">
        <ul>
            <li><span>Name</span>Moshe Mishali (&#1502;&#1513;&#1492; &#1502;&#1513;&#1506;&#1500;&#1497;)</li>
            <li><span>Phone #</span>+972 (0)54 4821234</li>
            <li>
                <span>Address</span><a title="Show on Google Maps" class="numb" target="_blank" href="http://maps.google.com?q=20,+Hen+blvd,+Tel-Aviv,+Israel">20 Hen blvd, Tel-Aviv, Israel</a>
            </li>
            <li><span>Email</span>moshemishali@gmail.com</li>
            <li class="last">
                <a class="network facebook" title="Facebook" target="_blank" href="http://www.facebook.com/moshe.mishali"></a>
                <a class="network linkedin" title="LinkedIn" target="_blank" href="http://www.linkedin.com/pub/moshe-mishali/32/998/185"></a>
                <a class="network gmail" title="Gmail" target="_blank" href="mailto:moshemishali@gmail.com"></a>        
            </li>
        </ul>
    </div>
</div>