<div class="contact">
	<div class="addresses">
		<div class="pageheader">Contact me</div>
		<ul>
			<li>Name: Moshe Mishali (&#1502;&#1513;&#1492; &#1502;&#1513;&#1506;&#1500;&#1497;)</li>
			<li>Phone #: +972 (0)54 4821234</li>
			<li>Address: 20, Chen blvd, Tel-Aviv, Israel</li>
			<li>Email: moshemishali@gmail.com</li>
		</ul>
	</div>
	<div class="networks">
		<div class="pageheader">Find me on . . .</div>
		<a class="facebook" title="Facebook" target="_blank" href="http://www.facebook.com/moshe.mishali"></a>
		<a class="linkedin" title="LinkedIn" target="_blank" href="http://www.linkedin.com/pub/moshe-mishali/32/998/185"></a>
		<a class="gmail" title="Gmail" target="_blank" href="mailto:moshemishali@gmail.com"></a>
	</div>
</div>