<br>
<br>
<br>
<br>
<ColorHeader>Contact me</ColorHeader><br>
<div class="doctext">
    <ul>
        <li>Name: Moshe Mishali (&#1502;&#1513;&#1492; &#1502;&#1513;&#1506;&#1500;&#1497;)</li>
        <li>Phone #: +972 (0)54 4821234</li>
        <li>Address: 60, Reines st, Tel-Aviv, Israel 64587</li>
        <li>Email: moshemishali@gmail.com</li>
    </ul>
    <ColorHeader>Find me on . . .</ColorHeader>
</div>
<br>
<div style="padding-left: 20%;">
<a href="http://www.facebook.com/moshe.mishali"><img width="30" height="30" src="Images/Buttons/fblogo.png" /></a>
<a href="http://www.linkedin.com/pub/moshe-mishali/32/998/185"><img width="30" height="30" src="Images/Buttons/lilogo.png" /></a>
<a href="mailto:moshemishali@gmail.com"><img width="30" height="30" src="Images/Buttons/gmlogo.png" /></a>
</div>
