<br>
<br>
<div class="pageheader">Contact me</div><br>
<div class="doctext">
    <ul>
        <li>Name: Moshe Mishali (&#1502;&#1513;&#1492; &#1502;&#1513;&#1506;&#1500;&#1497;)</li>
        <li>Phone #: +972 (0)54 4821234</li>
        <li>Address: 20, Chen blvd, Tel-Aviv, Israel</li>
        <li>Email: moshemishali@gmail.com</li>
    </ul>
    <div class="pageheader">Find me on . . .</div>
</div>
<br>
<div style="padding-left: 20%;">
<a target="_blank" href="http://www.facebook.com/moshe.mishali"><img width="30" height="30" src="<%= asset_path 'Buttons/fblogo.png' %>" /></a>
<a target="_blank" href="http://www.linkedin.com/pub/moshe-mishali/32/998/185"><img width="30" height="30" src="<%= asset_path 'Buttons/lilogo.png' %>" /></a>
<a target="_blank" href="mailto:moshemishali@gmail.com"><img width="30" height="30" src="<%= asset_path 'Buttons/gmlogo.png' %>" /></a>
</div>
