
<div class="pageheader">Filmography</div>
<div class="doctext filmography">
    <%= render :partial => "videos/filmography_section", :locals => {:title => "Films - d.o.p", :type => "filmography_film"} %>
    <%= render :partial => "videos/filmography_section", :locals => {:title => "Commercial, Music videos & Video art - d.o.p", :type => "filmography_musicvideo"} %>
    <%= render :partial => "videos/filmography_section", :locals => {:title => "Television", :type => "filmography_television"} %>
</div>