
<div class="pageheader">Filmography</div>
<div class="doctext filmography">
    <%= render :partial "filmography_section", :locals => {:title => "Films &#150; d.o.p", :type => "filmography_film"} %>
    <%= render :partial "filmography_section", :locals => {:title => "Commercial, Music videos &amp; Video art &#150; d.o.p", :type => "filmography_musicvideo"} %>
    <%= render :partial "filmography_section", :locals => {:title => "Television", :type => "filmography_television"} %>
</div>