<colorheader>Filmography</colorheader>
<div class="doctext" style="height: 300px;">
    <br><Subsubheader>Films</Subsubheader>
    <ul>
        <li><font style="color: #E1C811">"Windows 2000"</font>, indi, feature film, HD, work in progress, director- Yaacov Ayali, production company- Cinefeel.</li>
        <li><font style="color: #E1C811">"Batman At A Checkpoint"</font>, 10 min, short film, HD, director- Rafael Balulu, production company- Black Sheep Productions.</li>
        <li><font style="color: #E1C811">"Paul"</font>, 26 min, short film, HD, director- Adam Bizanski, production company- Kozak Films.</li>
        <li><font style="color: #E1C811">"Marta Must Fly"</font>, 26 min, short film. HD, director- Ma'ayan Sue Rypp.</li>
        <li><font style="color: #E1C811">"In bed at 10 p.m."</font>, 15 min, short film, HD, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Zipper"</font>, 34 min, short film, DIGIBETA, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Private Rooms"</font>, 27 min, short film, HD, director- Dan Kastoriano.</li>
        <li><font style="color: #E1C811">"Night Ships"</font>, 26 min, short film, HD, director- Adam Bizanski.</li>
    </ul>
    <Subsubheader>Commercials</Subsubheader>
    <ul>
        <li><font style="color: #E1C811">"Maccabi Beer Home Tour 1"</font>, 3 web commercials, director- Adam Bizanski.</li>
        <li><font style="color: #E1C811">"Maccabi Beer Home Tour 2"</font>, 12 min, short promotional film, director- Adam Bizanski.</li>
        <li><font style="color: #E1C811">"El Namrood"</font>, interactive commercial, directors- Tal Greenberg and Yasmin Schryer.</li>
        <li><font style="color: #E1C811">"Klipa Aduma"</font>, web promo for an alternative theatre festival, director- Rotem Dassa.</li>
        <li><font style="color: #E1C811">"Dancing with Stars"</font>, TV promo, director- Adam Bizanski.</li>
    </ul>
    <Subsubheader>Music videos &amp; v-dance</Subsubheader>
    <ul>
        <li><font style="color: #E1C811">"Dreams"</font> – Cohen@Mushon, director- Gal Muggia.</li>
        <li><font style="color: #E1C811">"Too Afraid to Love you"</font> – The Black keys, director- Adam Bizanski.</li>
        <li><font style="color: #E1C811">"Amsterdam"</font> – Hagiveret Harishona, director- Adi Yager.</li>
        <li><font style="color: #E1C811">"A Secret Day"</font> – Omer Leshem, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Yabale"</font> – Eli rozen, director- Hovav Shoshan.</li>
        <li><font style="color: #E1C811">"At At"</font> – Hatikva 6, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Halom Belavan"</font> – Yoni Roeh, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Ani Ashir Lach Shir"</font> – Hatikva 6, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Emuna"</font> – Kfir Epstien, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Yesh Lecha Koach"</font> – Kfir Epstien, director- Asaph polonsky.</li>
        <li><font style="color: #E1C811">"Narroweyes"</font>, video dance, winner of Tel Aviv int. Vdance festival, 2007.</li>
    </ul>
    <Subsubheader>Television</Subsubheader>
    <ul>
        <li><font style="color: #E1C811">"Pilpelim Tsehubim"</font>, TV series, additional cinematography, July August Productions.</li> 
        <li><font style="color: #E1C811">"Holly Community, Katmandu"</font>, TV series, supplements d.o.p, July August Productions.</li>
        <li><font style="color: #E1C811">"Kovach & Duvdevani"</font>, TV series, 2 unit cinematography, Bip.</li>
        <li><font style="color: #E1C811">"Mivza Kipod"</font>, TV series, 2 unit cinematography, Noga Communications.</li>
        <li><font style="color: #E1C811">"Survivor"</font>, season 2, 4 & 5, Videographer & Technical director, Abut Reiff Hameiri productions.</li>
        <li><font style="color: #E1C811">"Top Gear"</font>, TV series, Israeli version, 2nd season, Sports Channel.</li>
    </ul>
</div>
