<table class="hometable">
    <tr colspan="2">
        <td>
            <table>
                <tr colspan="2">
                    <td style="width: 450px;">
                        <%= I18n.t "about.story" %> 
                    </td>
                    <td style="padding-left: 20px;">    
                        <img src="<%= asset_path 'face.jpg' %>" width="130" height="177" />
                    </td>
                </tr>
            </table>
            <table>
                <tr colspan="1">
                    <td style="width: 600px; ">
                        <%= I18n.t "about.story_bottom" %>
                    </td>
                </tr>
            </table>
        </td>
        <td style="padding-left: 25px;">
            <iframe id="vid" width="560" height="315" src="http://www.youtube-nocookie.com/embed/AwgqgWsyax8?hd=1&rel=0&modestbranding=1&title=&autohide=1&showinfo=0" frameborder="0"></iframe>
        </td>
    </tr>
</table>