<table class="hometable">
    <tr colspan="2">
        <td>
            <table>
                <tr colspan="2">
                    <td style="width: 450px;">
                        Born on 14.7.1983 in Beit Sha'an, a small city in the northen part of
                        Israel. He first encountered cinematography at the age of 15 - shooting a chase scene as part of
                        a filmmaking course in Ort Ramot high school in Jerusalem. After finishing 3 years of cinema
                        studies in high school he joined the IDF spokesperson filmmaking unit as a Videographer. 
                        Between the years 2002 and 2005 Moshe shot a few short documentary films, several promotional films and more than 250 news items 
                        documenting military operations, search &amp; rescue delegations and other major events in the history 
                        of Israel.  
                    </td>
                    <td style="padding-left: 20px;">    
                        <img src="<%= asset_path 'face.jpg' %>" width="130" height="177" />
                    </td>
                </tr>
            </table>
            <table>
                <tr colspan="1">
                    <td style="width: 600px; ">
                        In 2006 Moshe started working as Camera Assistant; he participated in various projects including films, commercials and TV series. Since 2010 Moshe has been working as a Cinematographer, 
                        shooting films, commercials and TV series. In the past few years, films shot by Moshe have been 
                        nominated for international film festivals such as "Cannes", "CFC" and "MIFF".
                    </td>
                </tr>
            </table>
        </td>
        <td style="padding-left: 25px;">
            <iframe id="vid" width="560" height="315" src="http://www.youtube-nocookie.com/embed/AwgqgWsyax8?hd=1&amp;rel=0&amp;modestbranding=1&amp;title=&amp;autohide=1&amp;showinfo=0" frameborder="0"></iframe>
        </td>
    </tr>
</table>
