<div class="headerbuttons">
    <a href="javascript:void(0);" goto="welcome" class="headerbutton welcome"><span>Home</span></a>
    <a href="javascript:void(0);" goto="filmography" class="headerbutton filmography"><span>Filmography</span></a>
    <a href="javascript:void(0);" goto="films" class="headerbutton films"><span>Films</span></a>
    <a href="javascript:void(0);" goto="commercial" class="headerbutton commercial"><span>Commercial</span></a>
    <a href="javascript:void(0);" goto="musicvideos" class="headerbutton musicvideos"><span>Music Videos</span></a>
    <a href="javascript:void(0);" goto="about" class="headerbutton about"><span>About</span></a>
</div>