<div class="headerbuttons">
    <a href="javascript:void(0);" goto="home" class="headerbutton home"></a>
    <a href="javascript:void(0);" goto="filmography" class="headerbutton filmography"></a>
    <a href="javascript:void(0);" goto="films" class="headerbutton films"></a>
    <a href="javascript:void(0);" goto="commercial" class="headerbutton commercial"></a>
    <a href="javascript:void(0);" goto="musicvideos" class="headerbutton musicvideos"></a>
    <a href="javascript:void(0);" goto="stills" class="headerbutton stills"></a>
    <a href="javascript:void(0);" goto="contact" class="headerbutton contact"></a>
</div>