<form id="mainForm" runat="server">
        <table style="width: 100%;">
            <tr>
                <td id="header" class="header" style="background-image: url('Images/top.jpg');">
                    <table id="buttonTable" class="buttonmenu">
                        <tr colspan="7">
                            <td><img alt='OOPS! no pic' id="home" src="Images/Buttons/home.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                            <td><img alt='OOPS! no pic' id="filmography" src="Images/Buttons/filmography.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                            <td><img alt='OOPS! no pic' id="films" src="Images/Buttons/films.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                            <td><img alt='OOPS! no pic' id="commercial" src="Images/Buttons/commercial.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                            <td><img alt='OOPS! no pic' id="musicvideos" src="Images/Buttons/musicvideos.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                            <td><img alt='OOPS! no pic' id="stills" src="Images/Buttons/stills.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                            <td><img alt='OOPS! no pic' id="contact" src="Images/Buttons/contact.jpg" onclick="imgOnClick(id);" onmousedown="imgOnDown(id, true);" onmouseup="imgOnDown(id, false);" /></td>
                        </tr>
                    </table>
                    <div style="float: right; padding-right: 1%;">
                        <a name="fb_share" type="button" share_url="http://www.moshemishali.com">Share on Facebook</a>
                    </div>
                </td>
            </tr>
            <tr>
                <td id="main" class="main">
                    <asp:ContentPlaceHolder ID="contentWindow" runat="server">
                    </asp:ContentPlaceHolder>
                </td>
            </tr>
            <tr id="footer" class="footer" style="background-image: url('Images/bottom.jpg');" colspan="1">
                <td style="color: Gray; float: right; padding-right: 2.5%;">
                    &copy; Asaf Nachmany, 2011<br>
                </td>
            </tr>
        </table>
    </form>